In [1]:
import pandas as pd
import numpy as np

In [48]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [18]:
cat_cols = ['workclass','education','marital-status','occupation','relationship','race','gender','native-country']

In [19]:
for col in cat_cols:
    print('---'+col+'---')
    print(data[col].value_counts())

---workclass---
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64
---education---
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64
---marital-status---
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64
---occupation---
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64
---relationship---
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64
---race---
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64
---gender---
Male      32650
Female    16192
Name: gender, dtype: int64
---native-country---
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [20]:
X = pd.get_dummies( data, columns = cat_cols )

In [24]:
X.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 109 columns):
age                                          int64
fnlwgt                                       int64
educational-num                              int64
capital-gain                                 int64
capital-loss                                 int64
hours-per-week                               int64
income                                       object
workclass_?                                  uint8
workclass_Federal-gov                        uint8
workclass_Local-gov                          uint8
workclass_Never-worked                       uint8
workclass_Private                            uint8
workclass_Self-emp-inc                       uint8
workclass_Self-emp-not-inc                   uint8
workclass_State-gov                          uint8
workclass_Without-pay                        uint8
education_10th                               uint8
education_11th                               uint8
education_12th                               uint8
education_1st-4th                            uint8
education_5th-6th                            uint8
education_7th-8th                            uint8
education_9th                                uint8
education_Assoc-acdm                         uint8
education_Assoc-voc                          uint8
education_Bachelors                          uint8
education_Doctorate                          uint8
education_HS-grad                            uint8
education_Masters                            uint8
education_Preschool                          uint8
education_Prof-school                        uint8
education_Some-college                       uint8
marital-status_Divorced                      uint8
marital-status_Married-AF-spouse             uint8
marital-status_Married-civ-spouse            uint8
marital-status_Married-spouse-absent         uint8
marital-status_Never-married                 uint8
marital-status_Separated                     uint8
marital-status_Widowed                       uint8
occupation_?                                 uint8
occupation_Adm-clerical                      uint8
occupation_Armed-Forces                      uint8
occupation_Craft-repair                      uint8
occupation_Exec-managerial                   uint8
occupation_Farming-fishing                   uint8
occupation_Handlers-cleaners                 uint8
occupation_Machine-op-inspct                 uint8
occupation_Other-service                     uint8
occupation_Priv-house-serv                   uint8
occupation_Prof-specialty                    uint8
occupation_Protective-serv                   uint8
occupation_Sales                             uint8
occupation_Tech-support                      uint8
occupation_Transport-moving                  uint8
relationship_Husband                         uint8
relationship_Not-in-family                   uint8
relationship_Other-relative                  uint8
relationship_Own-child                       uint8
relationship_Unmarried                       uint8
relationship_Wife                            uint8
race_Amer-Indian-Eskimo                      uint8
race_Asian-Pac-Islander                      uint8
race_Black                                   uint8
race_Other                                   uint8
race_White                                   uint8
gender_Female                                uint8
gender_Male                                  uint8
native-country_?                             uint8
native-country_Cambodia                      uint8
native-country_Canada                        uint8
native-country_China                         uint8
native-country_Columbia                      uint8
native-country_Cuba                          uint8
native-country_Dominican-Republic            uint8
native-country_Ecuador                       uint8
native-country_El-Salvador                   uint8
native-country_England                       uint8
native-country_France                        uint8
native-country_Germany                       uint8
native-country_Greece                        uint8
native-country_Guatemala                     uint8
native-country_Haiti                         uint8
native-country_Holand-Netherlands            uint8
native-country_Honduras                      uint8
native-country_Hong                          uint8
native-country_Hungary                       uint8
native-country_India                         uint8
native-country_Iran                          uint8
native-country_Ireland                       uint8
native-country_Italy                         uint8
native-country_Jamaica                       uint8
native-country_Japan                         uint8
native-country_Laos                          uint8
native-country_Mexico                        uint8
native-country_Nicaragua                     uint8
native-country_Outlying-US(Guam-USVI-etc)    uint8
native-country_Peru                          uint8
native-country_Philippines                   uint8
native-country_Poland                        uint8
native-country_Portugal                      uint8
native-country_Puerto-Rico                   uint8
native-country_Scotland                      uint8
native-country_South                         uint8
native-country_Taiwan                        uint8
native-country_Thailand                      uint8
native-country_Trinadad&Tobago               uint8
native-country_United-States                 uint8
native-country_Vietnam                       uint8
native-country_Yugoslavia                    uint8
dtypes: int64(6), object(1), uint8(102)
memory usage: 7.4+ MB

In [52]:
y = X[['income']]

In [53]:
X.drop(['income'], axis=1, inplace=True)

In [54]:
X.shape

(48842, 108)

In [55]:
y.shape

(48842, 1)

In [56]:
y['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [57]:
le = LabelEncoder()

In [58]:
le.fit( y['income'] )

LabelEncoder()

In [59]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [60]:
y = pd.Series( le.transform( y['income'] ) )

In [61]:
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [63]:
model = LogisticRegression()

In [64]:
model.fit(X_train, y_train)

C:\Users\costa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [65]:
model.score(X_test, y_test)

0.8041320263059933